<library path="lib/librqt_aidin2">
  <class name="rqt_aidin2/aidinPlugin2" type="rqt_aidin2::aidinPlugin2" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      An example C++ GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>rqt_aidin2(test) C++ Plugin</label>
      <icon type="theme">applications-graphics</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
